@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.jumbotron {
    padding-top: 5rem;
    background-color: #C0B3A0;

}

.navbar{
    background-color: #22252C;
}

#navbar-link a {
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
    }  

#navbar-link a:hover {
    padding: 8px;
    background-color: #434752;
    border-radius: 5px;
}


.logo{
    color: white;
    margin-top: 30px;
}

.logo svg {
    transition: 0.7s;
    color: white;
    width: 50px;
    height: 25px;
}

.logo svg:hover {
    color: #E14658(13, 110, 255);
}

.card-spacing {
    margin: 15px;
}


#projects {
    background-color: #C0B3A0;
}

.row1 {
    padding-top: 5rem;
}

#btn {
    width: 100%;
    background-color: #E14658;
    color: white;
    padding: 14px ;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#footer {
    background-color: #22252C;
}